spring:
    application:
        name: server
    datasource:
        url: jdbc:postgresql://localhost:5432/hc_final_project
        username: postgres
        password: ahmed
        driver-class-name: org.postgresql.Driver
    mvc:
        problemdetails:
            enabled: true
    jpa:
        hibernate:
            ddl-auto: none
        show-sql: true
        properties:
            hibernate:
                format_sql: true
            dialect: org.hibernate.dialect.PostgreSQLDialect
    liquibase:
        change-log: classpath:db/master.xml
